### while loop

In [5]:
# Print name for 10 times
count = 0
while count < 10:
    print('Tushar', end=' ')
    count += 1

print('Good Bye!')

Tushar Tushar Tushar Tushar Tushar Tushar Tushar Tushar Tushar Tushar Good Bye!

In [6]:
# Print the numbers from 1 to 5
count = 1
while count <= 5:
    print(count)
    count += 1

print('Good Bye!')

1
2
3
4
5
Good Bye!

In [7]:
count

6

In [8]:
# Find the addition of numbers from 1 to 10

add = 0
num = 1
while num <= 10:
    add = add + num
    num += 1

print('Addition: ', add)

Addition:  55

In [9]:
# Find the addition of odd numbers from 1 to 20

add = 0
num = 1
while num <= 20:
    add = add + num
    num += 2

print('Addition: ', add)

Addition:  100

In [10]:
# Factorial of number

# Factorial of 5 = 5 * 4 * 3 * 2 * 1 = 120

num = 5
fact = 1
while num > 1:
    fact = fact * num
    num -= 1
    
print('Factorial is:', fact)

Factorial is: 120

In [11]:
# Factorial of number

# Factorial of 5 = 5 * 4 * 3 * 2 * 1 = 120

num = int(input('Enter the number: '))
fact = 1
while num > 1:
    fact = fact * num
    num -= 1
    
print('Factorial is:', fact)

Enter the number: 7
Factorial is: 5040

#### else

In [13]:
# Find the addition of numbers from 1 to 10

add = 0
num = 1
while num <= 10:
    add = add + num
    num += 1
else:
    print('Addition: ', add)

Addition:  55

#### infinite loop

In [ ]:
num = 10
while num > 0:
    print(num)
    num += 1

In [ ]:
while True:
    print('Tushar')

#### loop in single line

In [17]:
num = 1
while num <= 5:
    print(num)
    num += 1

1
2
3
4
5

In [18]:
num = 1
while num <= 5:    print(num);    num += 1

1
2
3
4
5

In [21]:
# Find the sum of digits of a number
# num = 12345 
# sum = 1 + 2 + 3 + 4 + 5 = 15

num = 12345 % 10
print(num)
num = 12345 // 10
print(num)

5
1234

In [23]:
num = 12345
add = 0
while num > 0:
    rem = num % 10
    num = num // 10
    print(num)
    add = add + rem
    
print('Sum of digits:', add)

1234
123
12
1
0
Sum of digits: 15

### For loop

In [25]:
for n in 45,12,67,88:
    print(n)

45
12
67
88

In [27]:
for n in 45,12,67,88,23:
    print(n/2)

22.5
6.0
33.5
44.0
11.5

In [28]:
for n in 45.12,12,'Hello',True,86:
    print(n)

45.12
12
Hello
True
86

In [29]:
for n in 45.12,12,'Hello',True,86:
    print(n, end=' ')

45.12 12 Hello True 86

#### range function

In [31]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [33]:
list(range(2,15,3))

[2, 5, 8, 11, 14]

In [34]:
list(range(20,3,-3))

[20, 17, 14, 11, 8, 5]

In [35]:
for x in range(5):
    print(x)

0
1
2
3
4

In [36]:
for x in range(1,6):
    print(x ** 2)

1
4
9
16
25

In [38]:
# print your name 10 times using for loop

for x in range(10):
    print('Tushar')

Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar

In [39]:
# Find addition of 10 numbers using for loop

add = 0
for n in range(1,11):
    add = add + n
    
print('Addition is:', add)

Addition is: 55

In [42]:
# Find addition of first 10 odd numbers using for loop

add = 0
for n in range(1,20,2):
    add = add + n
    
print('Addition:', add)

Addition: 100

In [43]:
name = 'Tushar'
for c in name:
    print(c * 25)

TTTTTTTTTTTTTTTTTTTTTTTTT
uuuuuuuuuuuuuuuuuuuuuuuuu
sssssssssssssssssssssssss
hhhhhhhhhhhhhhhhhhhhhhhhh
aaaaaaaaaaaaaaaaaaaaaaaaa
rrrrrrrrrrrrrrrrrrrrrrrrr

In [44]:
num = [23,65,44,12,77,89,10]

for n in num:
    print(n)

23
65
44
12
77
89
10

#### else keyword

In [46]:
num = [23,65,44,12,77,89,10]

for n in num:
    print(n, end=' ')
else:
    print('Loop Ended')

23 65 44 12 77 89 10 Loop Ended

In [48]:
# Find factorial of the number using for loop

num = int(input('Enter the number: '))
fact = 1
for n in range(1, num+1):
    fact = fact * n
    
print('Factorial:', fact)

Enter the number: 6
Factorial: 720

### break statement

In [50]:
for n in range(1,11):
    if n == 5:
        break
    print(n)

1
2
3
4

In [52]:
count = 0
while count < 10:
    print(count)
    if count == 5:
        break
    count += 1

0
1
2
3
4
5

### continue statement

In [54]:
for n in range(1,11):
    if n == 5:
        continue
    print(n)

1
2
3
4
6
7
8
9
10

In [55]:
for n in range(1,11):
    if n % 2 == 0:
        continue
    print(n)

1
3
5
7
9

### pass statement

In [58]:
# Fills the empty space in indentation

num = 89
if num > 100:
    pass
else:
    print('Yes')

Yes

In [59]:
for x in range(10):
    pass

In [60]:
num = 123
print('Sum of digits',num,'is',num)

Sum of digits 123 is 123