In [3]:
# Define simple function

def show():                       # Function Definition
    print('Hello World!')
    print('Welcome to Python')
    print('Good Bye!')

In [5]:
show()                           # Function call
show()
show()

Hello World!
Welcome to Python
Good Bye!
Hello World!
Welcome to Python
Good Bye!
Hello World!
Welcome to Python
Good Bye!

In [2]:
# Parameterized function

def square(num):
    sq = num * num
    print('Square is:', sq)

In [3]:
square(5)

Square is: 25

In [4]:
square(56.7)

Square is: 3214.8900000000003

In [5]:
n = int(input('Enter the number:'))
square(n)

Enter the number:4
Square is: 16

In [6]:
# multi-parameterized functions
def larger(x, y):
    if x > y:
        print('Larger:',x)
    else:
        print('Larger:',y)

In [7]:
larger(5,12)

Larger: 12

In [8]:
larger(67.23, 67.023)

Larger: 67.23

In [9]:
def display(name, count):
    for n in range(count):
        print(name)

In [11]:
display('Pune', 10)

Pune
Pune
Pune
Pune
Pune
Pune
Pune
Pune
Pune
Pune

In [12]:
# Write a function to find the factorial of number
def factorial(n):
    fact = 1
    for x in range(1, n+1):
        fact = fact * x
    print('Factorial:', fact)

In [13]:
factorial(5)

Factorial: 120

In [15]:
# Function returning values

def square(n):
    sq = n * n
    return sq

In [16]:
x = square(12)

In [17]:
print('Square:', x)

Square: 144

In [21]:
# multi-parameterized functions
def larger(num1, num2):
    if num1 > num2:
        return num1
    else:
        return num2

In [22]:
val = larger(34, 45)
print('Larger:',val)

Larger: 45

In [24]:
def factorial(n):
    fact = 1
    for x in range(1, n+1):
        fact = fact * x
    return fact

In [ ]:
ncr = n! / r!(n - r)!

In [26]:
n = 5
r = 3
ncr = factorial(n) / (factorial(r) * factorial(n - r))

In [27]:
ncr

10.0

In [28]:
# Multi-return statements
def calc(n):
    sq = n * n
    cu = n ** 3
    return sq, cu

In [29]:
print('Values are:', calc(5))

Values are: (25, 125)

In [32]:
num = int(input('Enter the number:'))
x, y = calc(num)
print('Square is:', x)
print('Cube is  :', y)

Enter the number:9
Square is: 81
Cube is  : 729

In [33]:
# Default parameters
def add(x=5, y=2, z=3):
    result = x + y + z
    return result

In [39]:
print('1:', add(3,1,8))
print('2:', add(3,1))
print('3:', add(3))
print('4:', add())
print('5:', add(y=6))

1: 12
2: 7
3: 8
4: 10
5: 14

In [42]:
# Dynamic or variable length parameters to functions

def display(*x):
    for n in x:
        print(n, end=' ')

In [43]:
display(56, 12, 34)

56 12 34

In [44]:
display('Hello', 34)

Hello 34

In [45]:
display(True, False, 45.78, 'Pune')

True False 45.78 Pune

In [53]:
def ispalindrome(x):
    x = list(x)
    y = x.copy()     # Original Copy
    x.reverse()      # Reverse copy
    if x == y:
        return True
    else:
        return False
    
num = input('Enter the number: ')
if ispalindrome(num):           # 12321, 4554, 747747
    print('Palindrome!')
else:
    print('NOT Palindrome!')

Enter the number: 4554
Palindrome!

In [56]:
# lambda functions
square = lambda x: x * x

In [57]:
square(4)

16

In [58]:
mult = lambda x, y: x * y
mult(5, 7)

35

In [59]:
num = [56, 32, 12, 33, 35, 68, 21]

In [60]:
# Filter
new = filter(lambda x: x > 30, num)
print(list(new))

[56, 32, 33, 35, 68]

In [61]:
# Map
new = map(lambda x: x / 2, num)
print(list(new))

[28.0, 16.0, 6.0, 16.5, 17.5, 34.0, 10.5]

In [62]:
num

[56, 32, 12, 33, 35, 68, 21]

In [64]:
new = map(lambda x: factorial(x), num)
print(list(new))

[710998587804863451854045647463724949736497978881168458687447040000000000000, 263130836933693530167218012160000000, 479001600, 8683317618811886495518194401280000000, 10333147966386144929666651337523200000000, 2480035542436830599600990418569171581047399201355367672371710738018221445712183296000000000000000, 51090942171709440000]

In [65]:
# Filter
new = map(lambda x: x > 30, num)
print(list(new))

[True, True, False, True, True, True, False]

In [66]:
# Filter
new = filter(lambda x: x > 30, num)
print(list(new))

[56, 32, 33, 35, 68]

In [67]:
# Modules

In [68]:
# import keyword
import math

In [69]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [70]:
math.sqrt(34)

5.830951894845301

In [71]:
math.sin(23)

-0.8462204041751706

In [72]:
math.log(12)

2.4849066497880004

In [73]:
math.pi

3.141592653589793

In [74]:
math.pow(3,4)

81.0

In [75]:
import time
time.asctime()

'Sat Nov 26 12:30:05 2022'

In [76]:
print('Hello')
time.sleep(5)
print('World')

Hello
World

In [78]:
import os
os.getcwd()

'/home/mitu'

In [79]:
# 2. using alias
import math as m

In [80]:
m.sqrt(34)

5.830951894845301

In [81]:
m.cos(34)

-0.8485702747846052

In [82]:
m.pi

3.141592653589793

In [83]:
# 3. Selective import
from math import sin, sqrt, pi, log, log

In [84]:
sqrt(23)

4.795831523312719

In [85]:
pi

3.141592653589793

In [86]:
log(90)

4.499809670330265

In [87]:
math.log2(8)

3.0

In [88]:
log2(8)

NameError: name 'log2' is not defined

In [89]:
import mlxtend